{
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.json",
      "options": { "printWidth": 500 }
    },
    {
      "files": "schema.json",
      "options": { "printWidth": 500 }
    }
  ]
}
